*{
    font-family:monospace;
    font-size: 16px;
    color: green;
}

body{
    background-color:white;
}

img.lado{
    float:none;
}

img.outro_lado{
    float: inline-end;
}

main{
    background-color:black;
    width: 60%%;
    margin:auto;
    box-shadow: 3px 3px 15px white; 
}