*{
    font-family:monospace;
    font-size: 16px;
    color: green;
}

body{
    background-color:white;
}

main{
    background-color:black;
    width: 75%;
    margin:auto;
    box-shadow: 3px 3px 15px white; 
}